html {
  background-image: url("https://cdn-v8m.pages.dev/banner_bg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: transparent;
}

div.App___StyledDiv-sc-2l91w7-0.fnfeQw {
  background-image: url("https://cdn-v8m.pages.dev/banner_bg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: transparent;
}

